ctransformers==0.2.5 #Python bindings for the Transformer models
sentence-transformers==2.2.2 #for using embedding generation model from huggingface
pinecone-client
langchain==0.0.225
flask
pypdf
langchain_pinecone
langchain_community
